* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}

/* Overlay for visual effect only, does not block clicks */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  pointer-events: none; /* important for clicks */
  z-index: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body,
html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}

.container {
  display: flex;
  width: 900px;
  height: 500px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 15px 40px rgba(255, 255, 255, 0.3);
  border: 3px solid white;
}

/* LEFT FORM */
.form-side {
  flex: 1;
  background: rgba(0, 0, 0, 0.85);
  color: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.form-side h2 {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: bold;
}

.form-side input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: none;
  outline: none;
}

.form-side button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border: none;
  border-radius: 8px;
  background: #6a11cb;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.form-side button:hover {
  background: #2575fc;
}

.toggle {
  margin-top: 15px;
  font-size: 14px;
  color: #ccc;
}

.toggle span {
  color: #6a11cb;
  cursor: pointer;
  font-weight: bold;
}

.message {
  margin: 10px 0;
  font-size: 14px;
}

.success {
  color: #00ff99;
}

/* RIGHT IMAGE */
.image-side {
  flex: 1;
  background: url("https://plus.unsplash.com/premium_photo-1677093905902-f55d574263e3?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjF8fGF1dGhlbnRpY2F0aW9ufGVufDB8fDB8fHww")
    no-repeat center center;
  background-size: cover;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    width: 90%;
    height: auto;
  }
  .image-side {
    height: 200px;
  }
}